In [3]:
from tt_gutenberg.authors import *

In [4]:
list_authors(by_languages = False, alias = True)

                                            alias  translation_count
3840                                Jarvis, E. K.                  3
3535                               Holmes, Gordon                  2
7790                          Willis, R. (Robert)                  2
5450         Paganino, Rodrigo Botelho da Fonseca                  1
5452                                Paget, Violet                  1
...                                           ...                ...
2719                      Gardiner, Edward Norman                  1
2718                    Gannon, Frederic Augustus                  1
2717                         Gannett, Ezra Stiles                  1
2716  Gann, Thomas W. F. (Thomas William Francis)                  1
2731              Garnett, H. H. (Henry Highland)                  1

[8183 rows x 2 columns]