In [ ]:
!conda env list

/opt/conda/lib/python3.12/site-packages/conda/base/context.py:211: FutureWarning: Adding 'defaults' to channel list implicitly is deprecated and will be removed in 25.9.

To remove this warning, please choose a default channel explicitly with conda's regular configuration system, e.g. by adding 'defaults' to the list of channels:

  conda config --add channels defaults

For more information see https://docs.conda.io/projects/conda/en/stable/user-guide/configuration/use-condarc.html

  deprecated.topic(

# conda environments:
#
base                   /opt/conda
h501-gutenberg         /opt/conda/envs/h501-gutenberg

In [2]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('gutenberg_authors.csv')
df
df_copy = df.copy()

In [11]:
df['alias'].nunique()

8647

In [14]:
nan_count = df['alias'].isna().sum()
nan_count

np.int64(17426)

In [15]:
nan_count2 = df['aliases'].isna().sum()
nan_count2

np.int64(10679)

In [18]:
df_copy
pd.merge(df_copy['alias'], df_copy['aliases'], on = 'alias', how = 'left')

KeyError: 'alias'

In [19]:
def load_data():
    import pandas as pd
    import numpy as np
    df = pd.read_csv('gutenberg_authors.csv')
    df_copy = df.copy()
    return df

In [20]:
load_data()

,gutenberg_author_id,author,alias,birthdate,deathdate,wikipedia,aliases
0,1,United States,U.S.A.,NaN,NaN,https://en.wikipedia.org/wiki/United_States,U.S.A.
1,3,"Lincoln, Abraham",NaN,1809.0,1865.0,https://en.wikipedia.org/wiki/Abraham_Lincoln,"United States President (1861-1865)/Lincoln, Abe"
2,4,"Henry, Patrick",NaN,1736.0,1799.0,https://en.wikipedia.org/wiki/Patrick_Henry,NaN
3,5,"Adam, Paul",NaN,1849.0,1931.0,https://de.wikipedia.org/wiki/Paul_Adam_(Buchb...,NaN
4,7,"Carroll, Lewis","Dodgson, Charles Lutwidge",1832.0,1898.0,https://en.wikipedia.org/wiki/Lewis_Carroll,"Dodgson, Charles Lutwidge"
...,...,...,...,...,...,...,...
26072,58311,"Wilmot-Buxton, Helen A.",NaN,NaN,NaN,NaN,NaN
26073,58312,"Wood, Emma",NaN,NaN,NaN,NaN,NaN
26074,58314,"Innes, Kate",NaN,NaN,NaN,NaN,NaN
26075,58315,"Werner, M. R.",NaN,NaN,NaN,NaN,NaN
26076,58316,"Nijland, G. J.",NaN,NaN,NaN,NaN,NaN

In [27]:
def clean_alias():
    """Creating a function to clean the alias column by removing NaN values and
    other messy values."""
    
    # importing libraries
    import pandas as pd
    import numpy as np
    
    # loading data
    df = pd.read_csv('gutenberg_authors.csv')
    df_copy = df.copy()
    
    # Removing NaN values
    df = df[df['alias'].notna()]
    
    # Removing messy values
    df = df[~df['alias'].str.contains('NA', case = False, na = False)]
    
    return df

In [28]:
clean_alias()

,gutenberg_author_id,author,alias,birthdate,deathdate,wikipedia,aliases
0,1,United States,U.S.A.,NaN,NaN,https://en.wikipedia.org/wiki/United_States,U.S.A.
4,7,"Carroll, Lewis","Dodgson, Charles Lutwidge",1832.0,1898.0,https://en.wikipedia.org/wiki/Lewis_Carroll,"Dodgson, Charles Lutwidge"
6,9,"Melville, Herman","Melville, Hermann",1819.0,1891.0,https://en.wikipedia.org/wiki/Herman_Melville,"Melville, Hermann"
9,12,"Smith, Joseph, Jr.","Smith, Joseph",1805.0,1844.0,https://en.wikipedia.org/wiki/Joseph_Smith%2C_Jr.,"Smith, Joseph"
11,14,"Madison, James",United States President (1809-1817),1751.0,1836.0,https://en.wikipedia.org/wiki/James_Madison,United States President (1809-1817)
...,...,...,...,...,...,...,...
26045,58266,"Schröer, Gustav","Schroer, Gustav",1876.0,1949.0,https://de.wikipedia.org/wiki/Gustav_Schr%C3%B6er,"Schroer, Gustav"
26046,58268,Practicus,"Moore, Dennis Times",NaN,NaN,NaN,"Moore, Dennis Times"
26049,58271,"Lee, E. Markham (Ernest Markham)","Lee, Ernest Markham",1874.0,1956.0,NaN,"Lee, Ernest Markham"
26055,58279,"Schulz, Chr. (Christoph)","Schulz, Christoph",NaN,NaN,NaN,"Schulz, Christoph"
26059,58288,"Heald, Hazel","Heald, Hazel Drake",1896.0,1961.0,https://en.wikipedia.org/wiki/Hazel_Heald,"Heald, Hazel Drake"

In [30]:
def count_alias_translations():
    """Creating a function to count the number of translations for each alias
    and grouping by the alias column."""
    
    # importing libraries
    import pandas as pd
    import numpy as np
    
    alias_counts = df.groupby('alias').size().reset_index(name = 'translation_count')
    
    return alias_counts

In [32]:
count_alias_translations()

                            alias  translation_count
0                       A Bushman                  1
1          Aaberg, Jens Christian                  1
2           Aaron, Samuel Francis                  1
3                Abbe, E. (Ernst)                  1
4     Abbey, C. J. (Charles John)                  1
...                           ...                ...
8642                           高明                  1
8643                          黃宗羲                  1
8644                           黃檗                  1
8645                          黃起有                  1
8646                          齊治平                  1

[8647 rows x 2 columns]